/*===========FOOTER===================*/

.footer{
    background: #5bd999;

}
.main_footer_area {
    overflow: hidden;
}
.main_footer_area .single_f_widget{}
.main_footer_area .single_f_widget img{
    width:60%;
    padding: 5px;
}
.main_footer_area .single_f_widget .single_f_widget_text{
    padding-left:2px;
}
.main_footer_area .single_f_widget .single_f_widget_text p{
    font-size:14px;
    margin-top:15px;
    color:#cccccc;
}
.main_footer_area .single_f_widget .single_f_widget_text .social_f_widget a i{
    background: #fefefe;
    width:30px;
    height: 30px;
    line-height: 30px;
    color:#444444;
    text-align: center;
    transition: all 0.3s;
}
.main_footer_area .single_f_widget .single_f_widget_text .social_f_widget a:hover i{
    background: #ec4848;
    color:#fff;
}
.main_footer_area .single_f_widget .single_f_widget_text.f_reatures li{
    font-size:15px;
    margin-bottom: 5px;
    color: #f9f9f9;
}
.main_footer_area .single_f_widget .single_f_widget_text.f_reatures i{
    color:#ec4848;
    padding-right: 5px;
}

.main_footer_area .single_f_widget .single_f_widget_text.f_tags a{
    color: #fff;
    background: #ec4848;
    padding: 5px 10px;
    margin-bottom: 5px;
    display: inline-block;
    font-size: 12px;
}
.main_footer_area .single_f_widget .single_f_widget_text.f_flicker img{
    width: 23%;
    margin-bottom: 5px;
}

.main_coppyright{
    border-top:5px solid #534a4a;
}
.main_coppyright p{
    text-align: center;
    color:#c5c5c5;
}
.main_coppyright .bawah{
    background: #ec4848;

}

